body{
    font-family: sans-serif;
    background-color: aquamarine;
    font-style: italic;
    font-size: medium;
}

p{
    text-align: center;
    background-color: beige;
    color: darkblue;
    padding: 10px;
    margin: 10px;
}